.footer {
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: none;
  width: 100%;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--page_width);
  width: 100%;
  font-size: var(--text-base);
  border-top: 1px solid var( --heather );
}

.footer__content > * {
  margin-top: 2rem;
}

.footer__attribution {
  font-size: var(--text-sm);
}

.footer ul {
  list-style: none;
  display: flex;
}

.footer li {
  margin-right: 2rem;
}

.footer li a {
  position: relative;
}

.rss a:before {
  content: url('data:image/svg+xml,%3Csvg version="1.1" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 455.731 455.731" fill="%23f26522"%3E%3Cg%3E%3Cpath d="M296.208,159.16C234.445,97.397,152.266,63.382,64.81,63.382v64.348 c70.268,0,136.288,27.321,185.898,76.931c49.609,49.61,76.931,115.63,76.931,185.898h64.348 C391.986,303.103,357.971,220.923,296.208,159.16z"/%3E%3Cpath d="M64.143,172.273v64.348c84.881,0,153.938,69.056,153.938,153.939h64.348 C282.429,270.196,184.507,172.273,64.143,172.273z"/%3E%3Ccircle cx="109.833" cy="346.26" r="46.088"/%3E%3C/g%3E%3C/svg%3E%0A');
  width: 36px;
  height: 36px;
  position: absolute;
  top: -6px;
  left: -40px;
}
