header {
	position: relative;
}

.header {
  max-width: none;
  width: 100%;
  /*text-transform: capitalize;*/
  /*text-transform: uppercase;*/
  margin-bottom: 3rem;
}

.header__content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: var(--page_width);
  margin: 2rem auto 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid var( --heather );
}

.header nav {
  max-width: var(--page_width);
  margin: 1rem auto;
}

a.site-title {
  color: var( --harbor );
  text-decoration: none;
  background: url(../img/originalbug_512_2023.svg) no-repeat 0 0;
  background-size: contain;
  padding-left: 92px;
}

a.site-title:hover {
  color: var( --raceway );
}

.site-title h1 {
  font-size: var(--text-lg);
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.site-title h2 {
  font-size: var(--text-base);
  color: var( --sheffield );
  text-transform: none;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-size: var(--text-base);
  align-items: center;
}

.nav__list a {
  color: var( --harbor );
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav__list li {
  margin-left: 0;
  margin-right: 2rem;
}

.nav__list li:last-child {
  margin-right: 0;
}

.nav__list a:hover {
  color: var( --raceway );
  border-bottom: 1px dotted var( --harbor );
}

.nav-social {
	margin: 0;
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
	gap: 2rem;
}

.nav-social a {
	text-decoration: none;
	& svg {
		display: inline-block;
		width: 28px;
		height: 28px;
		vertical-align: text-bottom;
	}
	&:hover svg {
        fill: var( --raceway );
	}
}
