.tags > * {
  margin-right: 1.5rem;
  line-height: 2rem;
}

.tags {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.tags a {
  text-decoration: none;
  color: var( --harbor );
}

.tags a:hover {
  text-decoration: underline;
  color: var( --raceway );
}

.post-list__wrapper {
  margin-top: 2rem;
}

.post-list__heading {
  font-size: var(--text-3xl);
  margin-bottom: 1rem;
}

.post-list {
  list-style: none;
  /* offset without list-style */
  margin-left: -1.2rem;
}

.post-list__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  padding-top: 1rem;
  border-top: 1px solid var( --heather );
}

.post-list__item:last-child {
  border-bottom: 1px solid var( --heather );
}

.post-list__title {
  margin: 0.5rem 0;
}

.post-list__title a {
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}

.post-list__title a:hover {
  color: var(--raceway);
  text-decoration: underline;
}

.post-list__details {
	display: flex;
	padding-right: 1rem;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.post-list__meta {
  font-size: var(--text-sm);
  color: var( --sheffield );
}

.post-list__tags {
  text-decoration: none;
  font-size: var(--text-sm);
	display: flex;
	gap: 1.25rem;
}

.post-list__tags a {
  text-decoration: none;
  color: var( --harbor );
}

.post-list__tags a:hover {
  color: var(--raceway);
}

.post-list__excerpt {
  margin-top: 1rem;
  color: var(--charcoal);
}

.post-list__read-more {
  width: fit-content;
  font-size: 1rem;
  text-transform: capitalize;
  margin-top: 1rem;
  text-decoration: underline;
  color: var( --harbor );
}

.post-list__read-more:hover {
  text-decoration: underline;
}

.all-posts-link {
  margin-top: 4rem;
  width: fit-content;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--text-lg);
  text-decoration: underline;
  color: currentColor;
}
