/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (https://dabblet.com)
 * @author Lea Verou
 */
:root {
	--sol_base03:	#002b36;
	--sol_base02:	#073642;
	--sol_base01:	#586e75;
	--sol_base00:	#657b83;
	--sol_base0:	#839496;
	--sol_base1:	#93a1a1;
	--sol_base2:	#eee8d5;
	--sol_base3:	#fdf6e3;

	--sol_yellow:	#b58900;
	--sol_orange:	#cb4b16;
	--sol_red:		#dc322f;
	--sol_magenta:	#d33682;
	--sol_violet:	#6c71c4;
	--sol_blue:		#268bd2;
	--sol_cyan:		#2aa198;
	--sol_green:	#859900;
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--sol_base03);
  background: none;
  font-family: 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: var(--sol_base3);
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #9aa2b1;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--sol_base3);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--sol_base01);
	font-style: italic;
}

.token.punctuation {
  color: var(--sol_base03);
}

.token.selector,
.token.tag {
  color:var(--sol_magenta);
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
  color: var(--sol_yellow);
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
  color: var(--sol_orange);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--sol_blue);
}

.token.atrule,
.token.keyword {
  color: var(--sol_red);
	font-weight: bold;
}

.token.function {
  color: var(--sol_blue);
}

.token.regex {
  color: var(--sol_orange);
}

.token.important,
.token.variable {
  color: var(--sol_cyan);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre.line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre.line-numbers > code {
	position: relative;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 0;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.line-numbers-rows > span {
	pointer-events: none;
	display: block;
	counter-increment: linenumber;
}

.line-numbers-rows > span:before {
	content: counter(linenumber);
	color: var(--sol_green);
	display: block;
	padding-right: 0.8em;
	text-align: right;
}
