/* typescale.com 1.250 Major Third on 18px base */
:root {
  --text-xs:  calc( 0.64  * var( --text-base ) );
  --text-sm:  calc( 0.8   * var( --text-base ) );
  --text-base: 1.125rem;
  --text-lg:  calc( 1.25  * var( --text-base ) );
  --text-xl:  calc( 1.563 * var( --text-base ) );
  --text-2xl: calc( 1.953 * var( --text-base ) );
  --text-3xl: calc( 2.441 * var( --text-base ) );
  --text-4xl: calc( 3.052 * var( --text-base ) );
}

body {
  font-size: var(--text-base);
  line-height: 1.6;
  color: var(--charcoal);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
  font-variant-ligatures: contextual;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
}

/*
 * CSS Style guide
 * - margin-bottom is preferred over margin-top
 * - exception for headings
 * - don't use h5, h6 at all
 */
h1,
h2,
h3,
h4 {
  line-height: 1.3;
  font-weight: 600;
  color: var(--atlantic);
  text-wrap: pretty;
}

h1 {
	font-size: var(--text-2xl);
	margin-bottom: 0.5rem;
}

h2 {
  font-size: var(--text-xl);
	margin-top: 3rem;
	margin-bottom: 1rem;
}

h3 {
  font-size: var(--text-lg);
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

h4 {
  font-size: var(--text-base);
	margin-bottom: 1rem;
}

p {
  font-size: var(--text-base);
	margin-bottom: 1rem;
}
