/* typescale.com 1.250 Major Third on 18px base */
:root {
  --text-xs:  calc( 0.64  * var( --text-base ) );
  --text-sm:  calc( 0.8   * var( --text-base ) );
  --text-base: 1.125rem;
  --text-lg:  calc( 1.25  * var( --text-base ) );
  --text-xl:  calc( 1.563 * var( --text-base ) );
  --text-2xl: calc( 1.953 * var( --text-base ) );
  --text-3xl: calc( 2.441 * var( --text-base ) );
  --text-4xl: calc( 3.052 * var( --text-base ) );
}

body {
  font-size: var(--text-base);
  line-height: 1.6;
  color: var(--charcoal);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
  font-variant-ligatures: contextual;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* Don't use h5, h6 */
h1,
h2,
h3,
h4 {
  line-height: 1.3;
  font-weight: 400;
  color: var(--atlantic);
}

h1 {
  font-size: var(--text-2xl);
}

h2 {
  font-size: var(--text-xl);
}

h3 {
  font-size: var(--text-lg);
}

h4 {
  font-size: var(--text-base);
}

p {
  font-size: var(--text-base);
}
