:root {
  --background: #fffffe;
  --atlantic:		#003651;
  --charcoal:		#394a59;
  --harbor:			#004c73;
  --safety-blue:	#006395;
  --denim:			#0079b6;
  --raceway:		#0085c8;
  --sheffield:		#697682;
  --heather:		#aec2cb;
  --alice:			#f2fbff;

  /* 1056px grid, 72px with 16px gutters, use 688px (inner 8 cols) */
  --page_width: 43rem;
}
