<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ name }} | {{ occupation }}| Résumé</title>

 {% bundledcss %}

</head>

<body>

<main role="main" class="resume">

<header>
<div class="identity">
<h1>{{ name }}</h1>
<h3>{{ occupation }}</h3>
<p>{{ location }}</p>
</div>

<ul class="nav-social">
<li><a href="{{ website.url }}" title="Website">{{ site.icons['web'] | safe }}{{ website.label }}</a></li>
<li><a href="mailto:{{ email }}" title="Email">{{ site.icons['email'] | safe }}{{ email }}</a></li>
{% if site.socialLinks %}
  {% for name, item in site.socialLinks %}
    {% set externalAttribute = '' %}

    {% if item.external %}
      {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
    {% endif %}

    <li><a href="{{ item.url | url }}" title="{{ item.title }}" {{ externalAttribute | safe }} >{{ site.icons[name] | safe }} {{ item.username | safe }}</a></li>
{% endfor %}
{% if linkedin %}
    <li><a href="{{ linkedin }}" title="LinkedIn">{{ site.icons['linkedin'] | safe }}&nbsp;</a></li>
{% endif %}
{% endif %}
</ul>
</header>

<section id="introduction">
  <h2>Summary</h2>
  <p>{{ summary }}</p>
</section>

<section id="experience">
  <h2>Experience</h2>
  {% for e in experience %}
  <div class="job">
  <h3>{{ e.title }}</h3>
  <h4><span class="employer">{{ e.employer }} &bull; {{ e.location }}</span>
  <span class="date">{{ e.start }} – {{ e.end }}</span></h4>
  <p class="summary">{{ e.summary }}</p>
  {% if e.notes %}
    <ul class="notes">
    {% for n in e.notes %}
       <li><p>{{ n }}</p></li>
    {% endfor %}
    </ul>
  {% endif %}
  </div>
  {% endfor %}
</section>
<span>
<section id="education">
<h2>Education</h2>
{% for e in education %}
<div class="job">
<h3>{{ e.degree }}</h3>
<h4><span>{{ e.school }} &bull; {{ e.location }}</span><span>{{ e.date }}</span></h4>
  {% if e.summary %}<p class="summary">{{ e.summary }}</p>{% endif %}
  {% if e.notes %}
    <ul class="notes">
    {% for n in e.notes %}
       <li><p>{{ n }}</p></li>
    {% endfor %}
    </ul>
  {% endif %}
  </div>
  {% endfor %}
</section>

</main>

</body>
</html>
