---
layout: base
---

<h1>Recent Posts</h1>
<div class="tags">
  {% include "tags-list.njk" %}
</div>

<section class="post-list__wrapper">
  {% set postslist = collections.posts | head(-6) %}
  {% include "posts-list.njk" %}
</section>

<a class="all-posts-link" href="{{ '/blog/' | url }}">View All Posts</a>
